button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: #2563EB;
    color: #fff;
    cursor: pointer;
    height: 40px;
}

button:hover {
    background-color: #1D4ED8;
}
