.form-street {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    width: 240px;
}

.select-state {
    border: solid 1px #64748B;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    color: #64748B;
}