@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

main {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #F8FAFC;
    color: #0F172A;
    font-family: "Inter", sans-serif;
    text-align: center;
    padding: 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results {
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.error {
    color: #DC2626;
}